@page {
    size: auto;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.sheet {
    width: 7cm;
    display: grid;
    grid-template-columns: 3.3cm 3.3cm;
    column-gap: 0.4cm;
    padding: 0;
}

.label-box {
    width: 3.3cm;
    height: 1.5cm;
    overflow: hidden;
    padding: 1mm 1mm;
    box-sizing: border-box;

    font-size: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-row {
    width: 7cm;
    height: 1.6cm; /* tinggi kertas */
    display: grid;
    grid-template-columns: 3.3cm 3.3cm;
    column-gap: 0.4cm;
    page-break-inside: avoid;
}
